<form id="event-form" action="" method="post" style="display: none">
    <div id="div_id_description" class="form-group">
      <label for="id_description" class=" requiredField">
        Description<span class="asteriskField">*</span>
      </label>
      <div class="">
        <input type="text" name="description" class="textinput textInput form-control" required="" id="id_description">
      </div>
    </div>
    <div id="div_id_time" class="form-group">
      <label for="id_time" class=" requiredField">
        Time<span class="asteriskField">*</span>
      </label>
      <div class="">
          <input type="time" name="time" class="form-control" required="" id="id_time">
          <input type="hidden" name="date" required="" id="id_date">
      </div>
    </div>
    <div class="buttonHolder">
      <input type="submit" name="submit" value="Save" class="btn btn-primary button white">
    </div>
</form>
<form id="event-export-form" action="{% url 'api:events-export-items' %}" method="post" style="display: none">
    {% csrf_token %}
    <div id="div_id_filename" class="form-group">
      <label for="id_filename" class=" requiredField">
        Filename<span class="asteriskField">*</span>
      </label>
      <div class="">
        <input type="text" name="filename" class="textinput textInput form-control" required="" id="id_filename">
      </div>
    </div>
    <div class="buttonHolder">
      <input type="submit" name="submit" value="Download" class="btn btn-primary button white">
    </div>
</form>

<div class="container-fluid">
  <header>
    <div class="text-center">
        <h4 style="display: inline">
            <a class="btn" id="prevButton" href="">&laquo;</a>
            <span id="monthYear"></span>
            <a class="btn" id="nextButton" href="">&raquo;</a>
        </h4>
        <select id="calendarMode" style="display: inline">
            <option value="day"{% if mode == 'day' %} selected{% endif %}>Day</option>
            <option value="week"{% if mode == 'week' %} selected{% endif %}>Week</option>
        </select>
    </div>
    <div class="row d-none d-sm-flex p-1 bg-dark text-white">
      <h5 class="col-sm p-1 text-center">MO</h5>
      <h5 class="col-sm p-1 text-center">TU</h5>
      <h5 class="col-sm p-1 text-center">WE</h5>
      <h5 class="col-sm p-1 text-center">TH</h5>
      <h5 class="col-sm p-1 text-center">FR</h5>
      <h5 class="col-sm p-1 text-center">SA</h5>
      <h5 class="col-sm p-1 text-center">SU</h5>
    </div>
  </header>
  <div class="row border border-right-0 border-bottom-0"></div>
</div>
{{ event_vars|json_script:"event-vars" }}

<br>
<button id="exportEvents" class="btn btn-primary">Export</button>
<button id="importEvents" class="btn btn-primary">Import</button>
<input id="importEventsInput" type="file" name="file" style="display: none" />