body {
  padding-top: 5rem;
  background: url('/static/background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body.modal-body {
    padding-top: 1rem;
}

ul{
    margin:0;
    padding:0;
}
li{
    list-style-type:none;
    margin:0;
    padding:10px;
    border-bottom:1px solid #333 ;

}
li:first-child{
    border-top:1px solid #333;
}

.card-block {
    padding: 10px;
}

.modal-filling {
    padding: 0px;
    margin: 0px;
}