{% load static %}

<html>

<head>
  <title>Todo's</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <!-- Bootstrap CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'csrf.jquery.js' %}"></script>

    <!-- Complete Bootstrap JavaScript Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="{% static 'modal.jquery.js' %}"></script>

</head>

<body{% block body_attrs %}{% endblock %}>
  {% block nav %}
  {% endblock %}

  {% include 'modal.html' %}

  <!-- Main Container -->
  <main role="main" class="container">
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
      {% endif %}
      {% block main %}
      {% endblock %}
  </main><!-- /.container -->

  <!-- Footer -->
  <footer class="container text-center">
    <p></p>
  </footer>

  <!-- Complete Bootstrap JavaScript -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->
  {% block javascript %}
  {% endblock %}
</body>

</html>
