{% extends 'main.html' %}
{% load static %}
{% load widgets %}


{% block css %}
    {{ block.super }}
    {% for widget in widgets %}
        {% render_css widget %}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="card-columns" style="column-count: 2">
    {% for widget in widgets %}
        {% render_widget widget %}
    {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'widgets.js' %}"></script>
    {% for widget in widgets %}
        {% render_js widget %}
    {% endfor %}
{% endblock %}
