{% extends 'main.html' %}
{% load static %}

{% block content %}
    <ul id="todos"{% if not searching %} contenteditable{% endif %}>
        <li>Enter item</li>
    </ul>

    <br>&nbsp;
    {% if not searching %}
    <a href="javascript:void(0);" id="save" class="btn btn-primary">Save</a>
    <a href="javascript:void(0);" id="delete" class="btn btn-primary">Delete</a>
    {% else %}
    <a href="javascript:void(0);" id="activate" class="btn btn-primary">Activate</a>
    {% endif %}

{% endblock %}

{% block files %}


{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ json_vars|json_script:"json-vars" }}
    <script type="text/javascript" src="{% static 'checklist.provider.local.js' %}"></script>
    <script type="text/javascript" src="{% static 'checklist.provider.remote.js' %}"></script>
    <script type="text/javascript" src="{% static 'checklist.provider.factory.js' %}"></script>
    <script type="text/javascript" src="{% static 'checklist.jquery.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('ul#todos').checkList({
                saveButton: $('#save'),
                deleteButton: $('#delete'),
                activateButton: $('#activate'),
                searching: {{ searching|yesno:'true,false' }},
                provider: checkListProviderFactory.create('{{ settings.todos_provider }}')
            });
        });
    </script>
{% endblock %}
