{% extends 'base.html' %}

{% load static %}


{% block nav %}
<!-- Top Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'todos:index' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wallpapers</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#" data-action="next-wallpaper">
                Next wallpaper
            </a>
            <a class="dropdown-item" href="#" data-action="manage-wallpapers">
                Manage wallpapers
            </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Import/export</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="#" data-action="import-notes">
                Import notes
            </a>
            <a class="dropdown-item" href="{% url 'todos:notes_export' %}">
                Export notes
            </a>
            <a class="dropdown-item" href="#" data-action="import-snippets">
                Import code snippets
            </a>
            <a class="dropdown-item" href="{% url 'todos:snippets_export' %}">
                Export code snippets
            </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#" data-action="manage-widgets">
              Manage widgets
          </a>
          <a class="dropdown-item" href="#" data-action="manage-dates">
              Manage historical dates
          </a>
          <a class="dropdown-item" id="about-link" href="#">About</a>
        </div>
      </li>
    </ul>
    <form method="get" action="{% url 'todos:search' %}" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search" value="{{ search_form.q.value|default_if_none:'' }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}

{% block main %}
    {% block content %}
    {% endblock %}

{% endblock %}

{% block javascript %}
  {{ wallpapers|json_script:"wallpapers" }}
<script type="text/javascript" src="{% static 'wallpaper.jquery.js' %}"></script>
<script type="text/javascript">
  $(function () {
      $('body').wallPaper({
          items: JSON.parse(document.getElementById('wallpapers').textContent)
      });
      let tModal = $('#todos-modal');

      $('[data-action="next-wallpaper"]').click(function() {
          $('body').trigger('next-wallpaper');
      });
      $('#about-link').click(function(event) {
          event.preventDefault();
          tModal.Modal({
             title: 'About',
             content: "Todo's - Version 1.0"
         });
      });
      $('[data-action="manage-widgets"]').click(function (event) {
         event.preventDefault();
         tModal.FullModal({
             title: 'Manage widgets',
             url: '{% url "todos:widget_list" %}',
             onClose: function() {
               location.href = '{{ request.path }}' + window.location.search;
             }
         });
      });
      $('[data-action="manage-wallpapers"]').click(function (event) {
         event.preventDefault();
         tModal.FullModal({
             title: 'Manage wallpapers',
             url: '{% url "todos:wallpaper_list" %}',
             onClose: function() {
               location.href = '{{ request.path }}' + window.location.search;
             }
         });
      });
      $('[data-action="import-notes"]').click(function (event) {
         event.preventDefault();
         tModal.FullModal({
             title: "Import notes",
             url: '{% url "todos:notes_import" %}',
             onClose: function() {
               if (widgets['notes']) {
                 widgets['notes'].load();
               }
             }
         });
      });
      $('[data-action="import-snippets"]').click(function (event) {
         event.preventDefault();
         tModal.FullModal({
             title: "Import code snippets",
             url: '{% url "todos:snippets_import" %}',
             onClose: function() {
               if (widgets['snippet']) {
                 widgets['snippet'].load();
               }
             }
         });
      });
  });
</script>
{% endblock %}