<form method="post" action="{{ update_action }}">
    {% csrf_token %}
    {{ form.text }}
<br>
<a href="javascript:void(0);" data-action="save" class="btn btn-primary" disabled>Save</a>
<a href="javascript:void(0);" data-action="new" class="btn btn-primary" disabled>New</a>
<a href="javascript:void(0);" data-action="delete" data-action-url="{{ delete_action }}" class="btn btn-primary" disabled>Delete</a>
<button class="btn" data-action="prev" disabled>&laquo;</button>
<button class="btn" data-action="next" disabled>&raquo;</button>
</form>

{{ navigation|json_script:"snippet-navigation" }}