{% load static %}


{% if var_name and values  %}
<script type="text/javascript">
    let {{ var_name }} = {{ values }};
</script>
{% endif %}

<script type="text/javascript">
    var widgets = widgets || {};
    widgets['{{ widget.type }}'] = new Widget({
        id: '{{ widget.widget_id }}',
        url: '{% url 'todos:widget' widget.pk %}',
        refreshInterval: null
    });
</script>

{% for file in static_files %}
<script type="text/javascript" src="{% static file %}"></script>
{% endfor %}

{% for file in external_files %}
<script type="text/javascript" src="{{ file }}"></script>
{% endfor %}