{% extends 'base.html' %}

{% load widget_tweaks %}


{% block main %}
<h1>Widgets</h1>
<form method="post" action="{% url 'todos:widget_list' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><input type="checkbox" id="select-all"></th>
          <th scope="col">Refresh interval (seconds)</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr>
          <td>{{ form.is_enabled }} {{ form.instance }} {{ form.id }}</td>
          <td>
              <div style="width: 100px">
                  {% render_field form.refresh_interval class="form-control" %}
              </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</form>
<div class="mb-2">
    <a class="btn btn-primary" href="" id="save-btn">Save</a>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
    $('#save-btn').click(function(event) {
        event.preventDefault();
        $('form').submit();
    });
    $('#select-all').click(function() {
        $('input[type="checkbox"]').prop('checked', $(this).prop('checked'));
    });
});
</script>
{% endblock %}
