{% extends 'main.html' %}

{% load search_tags %}


{% block content %}

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Search</h4>
            <p class="card-text">
                <form method="get" action=".">
                    <table>
                        {{ search_form.as_p }}
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <input type="submit" value="Search" class="btn btn-primary">
                            </td>
                        </tr>
                    </table>

                    {% if query %}
                        <br><br>
                        <h3>Results</h3>

                        {% for result in object_list %}
                            <p>
                                <a href="{% result_url result.object %}">{{ result.object.search_result }} - {{ result.object.search_type }}</a>
                            </p>
                        {% empty %}
                            <p>No results found.</p>
                        {% endfor %}

                    {% else %}
                        {# Show some example queries to run, maybe query syntax, something else? #}
                    {% endif %}
                </form>

            </p>
        </div>
    </div>

{% endblock %}